body{
    background-color:rgb(189, 206, 162);
}
div{
    background-color: rgb(2, 2, 54);
    color: white;
    padding: 10px 40px;
    border-radius:20px;
    border: 5px solid rgb(248, 211, 1);
    width:50%;
    border-radius: 2px;
    text-align: center;
    margin: 150px;
    margin-right: auto;
    margin-left: auto;
    font-size:auto;
    line-height: 3;
}
.Reset{
    margin-left:auto;
    margin-right: auto;

}
.checkBMI{
    margin-left:auto;
    margin-right: auto;
}
